.main_sidenav {
  @apply min-h-screen min-w-[265px] shadow-sm bg-surface-overlay relative border-0 border-r border-solid border-surface-100;

  .logo {
    @apply w-full text-2xl font-bold text-text px-4 py-4 sticky border-0 border-b border-solid border-surface-100 top-0 bg-surface-overlay z-[100];
  }

  .nav_container {
    @apply block max-h-[80%] overflow-scroll;

    .list {
      @apply list-none pl-[8px] mb-2;

      .items {
        @apply flex align-baseline cursor-pointer p-2 mx-2 my-1 rounded-md text-[14px] hover:text-primary transition-colors text-surface-700 no-underline font-normal;
      }

      .item_active {
        @apply bg-highlight-bg;
      }

      .groupHeader {
        @apply p-2 mx-2 mt-2 mb-1 no-underline text-[13px] text-primary-menu uppercase font-[600];
      }
    }
  }

}