.login_pass_module {
    @apply mt-[20px];

    .forget_container {
        @apply mt-[20px] flex w-full justify-between mb-[30px];

        .forget {
            @apply text-importantText cursor-pointer font-[400] text-[14px] leading-[22px] select-none;
        }
    }
}