.main_layout {
    @apply bg-menu min-w-full rounded-lg flex flex-row;
  
    .card {
      height: calc(100dvh - 60px);
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb, #ccc)
        var(--scrollbar-track, transparent);
      @apply bg-background rounded-tr-md overflow-y-auto flex-1 overflow-auto;
    }
  
    .card::-webkit-scrollbar {
      width: 3px;
    }
  
    .card::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb, #ccc);
      border-radius: 9999px;
    }
  
    .card::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track, transparent);
    }
  }
  