.main_layout {
    min-height: calc(100dvh - 60px);
    @apply bg-white min-w-full flex !important;

    .card {
        min-height: calc(100dvh - 60px);
        @apply bg-white  relative;

        .btn {
            @apply bg-red-100 size-[32px] absolute left-[25px] top-[25px] cursor-pointer;
        }
    }

    .expand {
        min-width: calc(100vw - 280px);
    }

    .colapse {
        min-width: calc(100vw - 60px);
    }

    .width_full {
        @apply min-w-full;

    }
}