.container {
    @apply z-[100] top-0 sticky !min-w-full bg-white py-2 pr-4 h-[65px] text-justify flex align-middle items-center justify-end;

    .dp {
        @apply flex align-middle items-center bg-primary-mid rounded-full text-center justify-center text-primary-text border-primary-text !size-[40px];

    }
}

.emailHolder {
    @apply mt-3 pb-10;
}