.container {
    @apply bg-primary h-[60px] flex w-full justify-between px-[30px] items-center sticky top-0 z-[1];

    .logo_container {
        @apply text-white text-[28px] font-bold;
    }
    .country_holder{
        @apply flex gap-[12px] items-center;
    }
    .hidden_module{
        @apply hidden;
    }
}