.overlay {
  @apply fixed backdrop-blur-[2px] flex items-center justify-center z-[9999] inset-0;
  background: rgba(0, 0, 0, 0.35);

  .loaderBox {
    @apply flex items-center gap-4 px-8 py-6 rounded-xl;
    // background: rgba(255, 255, 255, 0.92);
  }
  .spinner {
    @apply w-12 h-12;
  }
}
