.container {
  @apply flex max-h-screen min-h-screen flex-row overflow-hidden relative;

  .sidebarContainer {
    @apply absolute left-[-240px] transition-[left] ease-in-out duration-300;
  }

  .sidebarOpen {
    @apply left-0 z-10;
  }

  .mainContainer {
    @apply flex-1 flex flex-col relative transition-all ease-in-out duration-300;

    .content {
      @apply px-7 pt-6 flex-1 block bg-white overflow-y-scroll;
    }
  }

  .mainContainerSidebarOpen {
    @apply md:ml-60;
  }
}
